---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quantum Mentoring">
  <main class="text-white font-primary w-full">
    <section class="relative min-h-screen overflow-hidden">
      <div
        class="flex flex-col absolute z-10 self-center h-full w-full justify-around items-center px-6 lg:px-40"
      >
        <p
          class="font-[600] text-xl sm:text-2xl lg:text-3xl animate-fade animate-duration-[1000ms] animate-ease-in-out uppercase"
        >
          Belen Vitullo
        </p>
        <div class="italic xl:self-start relative">
          <h1
            class="text-6xl sm:text-[6rem] lg:text-[10rem] leading-[4rem] lg:leading-[5rem] uppercase"
          >
            <span
              class="font-secondary text-[10rem] sm:text-[15rem] lg:text-[22rem] font-[400] mr-6"
              >Q</span
            >uantum
          </h1>
          <p
            class="text-4xl lg:text-6xl leading-3 sm:leading-normal lg:leading-normal text-right mr-14 animate-shake animate-duration-[2000ms] animate-ease-linear animate-fill-both"
          >
            Mentoring 1:1
          </p>
        </div>
        <a
          href="#learn-more"
          class="px-10 py-4 underline underline-offset-2 text-xl lg:text-2xl bg-[#89674c]/30 border-2 border-[#89674c] animate-fade animate-duration-[1000ms] animate-ease-in-out"
          >Learn more</a
        >
      </div>
      <div
        id="bg1"
        class="h-full w-full absolute animate-fade-right animate-duration-[1000ms] delay-100 animate-ease-in-out"
      >
      </div>
    </section>
    <section class="relative h-screen w-full text-[#89674c] bg-white/90">
      <div
        class="absolute z-10 text-right lg:px-48 h-full flex flex-col justify-around lg:py-16 lg:gap-28 lg:text-[44px] leading-none"
      >
        <div class="flex flex-col gap-8">
          <p class="fade_right_intersec">
            Hay momentos en la vida en la que te das cuenta que todo lo que
            probaste hasta acá, no está dando el resultado al que te encantaría
            llegar...
          </p>
          <p class="fade_right_intersec">
            Algo en tu interior pesa y se siente en vos el llamado a un salto.
            Es allí cuando viene la conciencia que algo en lo profundo se debe
            mover para darle luz a aquello enterrado en las sombras de tu Ser.
          </p>
        </div>
        <p class="italic fade_right_intersec">
          Yo también estuve ahí. Desde los años experiencia personal y desde mi
          sabiduría energética te invito a que viajemos hacia tu interior para
          validar y abrazar estas oscuridades a las que tanto estas resistiendo.
        </p>
      </div>
      <div id="bg2" class="h-full w-full absolute"></div>
    </section>
    <section class="h-screen relative">
      <div
        class="absolute z-10 px-48 h-full flex flex-col text-5xl justify-around py-12"
      >
        <div class="flex-col flex">
          <p class="max-w-[70%] fade_right_intersec">
            Es un llamado a dejar de luchar y entrar en un espacio de <span
              class="italic">liviandad</span
            > y <span class="italic">rendición</span> ante tus sombras.
          </p>
          <p class="text-right max-w-[70%] self-end fade_right_intersec">
            Una real <span class="italic">invitación</span> a darle <span
              class="italic">luz</span
            > a esos lugares dolorosos y ocultos de ti que no te animas a
            acceder.
          </p>
        </div>
        <p class="text-justify py-2 px-6 border-[3px] fade_right_intersec">
          Esta sesión individual atraviesa la <span class="italic"
            >liberación</span
          > energías atoradas en tu cuerpo, viajando hacia las <span
            class="italic">profundidades</span
          > de tu Ser y potenciando tu <span class="italic">permisión</span> con
          todo lo que sos.
        </p>
      </div>
      <div id="bg3" class="h-full w-full absolute bg-white/90"></div>
    </section>
    <section class="relative h-screen">
      <div
        class="absolute z-10 text-[#89674c] text-5xl leading-none h-full flex flex-col gap-12 py-24 px-48"
      >
        <p
          class="text-center w-[65%] align-middle self-end fade_right_intersec"
        >
          Es un llamado a <span class="italic">iluminar</span> tus creencias
          limitantes para dejarlas ir y <span class="italic">posibilitarte</span
          > a elegir verte de verdad, como el <span class="italic"
            >tesoro precioso</span
          > que sos.
        </p>
        <p
          class="text-center w-[65%] font-bold tracking-tight self-end fade_right_intersec"
        >
          ¿Estas dispuesta a ponerle el freno de mano a tu vida y elegirte
          verdaderamente?
        </p>
      </div>
      <div id="bg4" class="h-full w-full absolute bg-white/80"></div>
    </section>
    <section class="relative h-screen">
      <div
        class="absolute z-10 text-[#89674c] text-5xl h-full w-full flex flex-col gap-12 py-24 px-48"
      >
        <p class="italic font-bold text-center fade_right_intersec">
          Estas llamadas no son para cualquiera..
        </p>
        <div
          class="flex flex-col text-center w-[90%] text-[40px] self-center leading-relaxed"
        >
          <p class="fade_right_intersec">
            Están creadas para quienes sientan regalarse esta apertura a la
            vulnerabilidad y al sentir.
          </p>
          <p class="fade_right_intersec">
            No puedo prometerte un movimiento exacto y controlado, si te aseguro
            que traerá y movilizará la conciencia
          </p>
          <p class="w-[90%] self-center fade_right_intersec">
            necesaria que te empujará hacia el salto cuántico que tu negocio, tu
            relación, tu trabajo, tu cuerpo o tu Ser están requiriendo.
          </p>
        </div>
      </div>
      <div id="bg5" class="h-full w-full absolute bg-white/80"></div>
    </section>
    <section id="learn-more" class="relative h-screen">
      <div
        class="absolute z-10 text-6xl flex flex-col justify-center items-center w-full h-full font-bold italic px-10 text-center"
      >
        <p>¿Tu corazón se enciende?</p>
        <p>¿Será este el cambio que traiga una nueva luz a tu vida?</p>
      </div>
      <div id="bg6" class="h-full w-full absolute bg-white/20"></div>
    </section>
    <section class="relative h-screen">
      <div
        class="absolute z-10 flex flex-col w-full h-full px-48 py-24 text-[#89674c] text-center gap-6"
      >
        <h2 class="text-7xl font-semibold">Sobre la sesión</h2>
        <div class="text-4xl flex flex-col gap-8 w-[90%] self-center">
          <p>
            -Es una única sesión individual que tendrá una duración entre 60 a
            90 minutos.
          </p>
          <p>
            -Enfocada en tu cuerpo y sentir tu energía, usando técnicas de
            Access Conciusness, Psicología, Yoga, Somatic Work, Constelaciones,
            Meditaciones, entre otras.
          </p>
          <p>
            -Puede realizarse en formato presencial (CABA) u online por Zoom.
          </p>
          <p>
            -Se recomienda comer liviando y 1.30hs antes de la sesión, tomar
            mucha agua y usar ropa cómoda.
          </p>
        </div>
      </div>
      <div id="bg7" class="h-full w-full absolute bg-white/80"></div>
    </section>
  </main>
</Layout>

<style>
  #bg1,
  #bg2,
  #bg3,
  #bg4,
  #bg5,
  #bg6,
  #bg7,
  #bg8 {
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #bg1 {
    background-image: url("1.png");
  }
  #bg2 {
    background-image: url("2.png");
  }
  #bg3 {
    background-image: url("3.png");
  }
  #bg4 {
    background-image: url("4.png");
  }
  #bg5 {
    background-image: url("5.png");
  }
  #bg6 {
    background-image: url("6.png");
  }
  #bg7 {
    background-image: url("7.png");
  }
  #bg8 {
    background-image: url("8.png");
  }

  .fade_right_intersec {
    opacity: 0;
    transform: translateX(-2rem);
    transition: all 0.6s ease-in;
    transition-delay: 0.1s;
  }

  .fade_right_intersec.visible {
    opacity: 1;
    transform: translateX(0);
  }
</style>

<script>
  const elements = document.querySelectorAll(".fade_right_intersec");

  const options = {
    threshold: 0.5,
  };

  function isVisible(entries) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("visible");
      }
    });
  }

  let observer = new IntersectionObserver(isVisible, options);

  elements.forEach((elem) => observer.observe(elem));
</script>
