---
interface Props {
  coversStyles: string;
  sectionStyles: string;
}

const { coversStyles, sectionStyles } = Astro.props;
---

<section class={`${sectionStyles}`}>
  <article
    class="absolute flex flex-col h-full w-full gap-10 sm:gap-20 py-8 sm:py-16 lg:py-24 px-5 sm:px-20 lg:px-32 xl:px-40 text-[1.3rem] sm:text-3xl lg:text-4xl text-[#89674c] text-center"
  >
    <h2 class="italic font-extrabold text-3xl sm:text-5xl">
      Este mentoring no es para cualquiera..
    </h2>
    <div class="flex flex-col gap-4 sm:gap-16">
      <p>
        Está diseñado para personas que sepan que lo que requieren es dar este
        salto de confianza en ellos mismos y que hoy no están teniendo claridad
        con el proceso.
      </p>
      <p>
        Fue creado para almas paradas desde su adultez, que buscan seguir
        evolucionando y apostando a su transformación.
      </p>
      <p>
        Este espacio de invitación tiene el propósito de acompañarte en este
        momento donde existen muchas incomodidades y puntos ciegos, y de traer
        mayor conciencia a tu camino de evolución.
      </p>
    </div>
  </article>
  <img class={coversStyles} src="/5.webp" alt="background cover" loading="lazy"/>
</section>
