---
interface Props {
    coversStyles: string;
    sectionStyles: string;
}

const {coversStyles, sectionStyles} = Astro.props
---
<section class={`text-white ${sectionStyles}`}>
    <article class="absolute flex flex-col h-full w-full px-10 justify-around text-[1.3rem] text-center font-[600] bg">
      <div class="flex flex-col gap-2 p-4">
        <p>¿Estás dispuesta a crear la vida exitosa que te gustaría?</p>
        <p>
          <span class="block">Por que lo que creaste hasta ahora esta bien, “alcanza”.</span
          > Pero... sabes que hay algo en tu interior que te invita a ir por
          más. Se siente la potencia de todo lo que está disponible para vos,
          y no “sabes” cómo acceder.
        </p>
      </div>
      <p class="p-3 backdrop-blur-2xl border">
        Este mentoring va a atravesar tu cuerpo y Ser con el objetivo de
        liberararlos de todas las mentiras, autoboicot, excusas y
        procastinación que te estas comprando para no hacerte cargo de tu
        poder magnético y tu potencia.
      </p>
    </article>
    <img
      class={`${coversStyles} bg-white/20`}
      src="/2.png"
      alt="background cover"
    />
  </section>