---
interface Props {
  coversStyles: string;
  sectionStyles: string;
}

const { sectionStyles, coversStyles } = Astro.props;
---

<section class={`${sectionStyles}`}>
  <article class="absolute flex flex-col h-full w-full gap-8 sm:gap-16 py-8 sm:py-16 px-10 sm:px-20 text-[#89674c] text-center text-2xl sm:text-3xl">
    <h2 class="font-bold text-3xl sm:text-5xl">Sobre el Mentoring</h2>
    <p>
      Es una mentoría que diseñaremos escuchando a tu cuerpo y tu energía en una
      sesión cero gratuita, donde nos conoceremos y charlaremos sobre ti y
      Quantum.
    </p>
    <p>
      Allí diseñaremos el formato, la cantidad de encudntros, formas de pago y
      valor económico del programa.
    </p>
    <a class="underline underline-offset-2 text-xl sm:text-2xl py-2 px-6 self-center border-[#513016] border-2 bg-[#513016]/30 text-white" href="https://calendly.com/belen-vitullo/claritycall"
    target="_blank"
      >Programá tu cita aquí</a
    >
  </article>
  <img class={`${coversStyles}`} src="/7.png" alt="background cover" />
</section>
